* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: darkblue;
    width: 100%;
    position: sticky;
    top: 0;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    background: url(/images/hero-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.hero-banner-text {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.buy-now {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(to bottom, #4e89ae, #2b5876);
    border-radius: 20px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.buy-now:hover {
    background: linear-gradient(to bottom, #2b5876, #4e89ae);
}

.buy-now-link {
    text-decoration: none;
    color: white;
}


.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.primary-navigation,
.main-header {
    display: flex;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
}

.main-header {
    margin-left: 100px;
}

.primary-navigation {
    gap: 20px;
    list-style-type: none;
}


.nav-link {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: larger;
}

.header-text {
    color: white;

}


.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}


.footer-link {
    text-decoration: none;
}

.inline-image {
    max-width: 100px;
    aspect-ratio: 1;
}



.coatings,
.drain,
.no-slipups,
.locations {
    background-color: lightgreen;
    max-width: 300px;
    min-width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 5px;
    scale: 1, 25;
    max-height: 250px;
    margin: 100px;

}



.my-text {
    color: darkblue;
    font-weight: 600;
}

.my-text:hover {
    color: darkgreen;
    font-weight: 10000;
}


.uglytub {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bathtub {
    max-width: 400px;
}



/* lägg in koden för den gamla hamburgarmenyn */

/* använd idn i html för tex buy a bathtub */


.inline-link {
    text-decoration: none;
    text-align: center;
    max-width: 80%;
}



.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mobile-menu {
    display: none;
}

.icon-hamburger {
    --btn-hamburger: var(--fg-clr-white);

    width: 20px;
    object-fit: cover;
    z-index: 9999;

}

.icon-hamburger .line {
    /* Morph hamburger button to open/close states */
    transition:
        rotate 200ms 0ms ease-in,
        transform 200ms 200ms ease-in,
        opacity 0ms 200ms;

    transform-origin: center;
}

.icon-hamburger.morphToClose .line {
    transition:
        rotate 200ms ease-in 200ms,
        transform 200ms ease-in,
        opacity 0ms 200ms;

    transform-origin: center;
}

.icon-hamburger.morphToClose .top {
    transform: translateY(20px);
    rotate: 45deg;
}

.icon-hamburger.morphToClose .middle {
    opacity: 0;
}

.icon-hamburger.morphToClose .bottom {
    transform: translateY(-20px);
    rotate: -45deg;
}


/* link styling */
.mobile-link {
    color: white;
    text-decoration: none;
    cursor: grab;
}

.mobile-link:visited {
    color: white;

}




@media (max-width:680px) {

    /* Mobile view */
    .mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2em;
        background: darkblue;
        padding-inline: .5rem;
        z-index: 99;
        position: sticky;
        top: 0;
    }

    .main-header {
        display: none;
    }

    .mobile-menu__title {
        color: white;
    }

    .primary-navigation {
        position: fixed;
        inset: 35px 0 0 10%;
        background: rgb(255, 255, 255);
        padding: min(5vh, 10rem);
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
    }

    .mobile-portfolio-link {
        display: flex;
        flex-direction: column;
    }


    .primary-navigation.open {
        transform: translateX(0%);
    }

    .btn-hamburger {
        display: flex;
        background: transparent;
        border: 0;

    }

    .main-content {
        padding: 20px;
        list-style: none;
        width: 90%;
        margin-inline: auto;
    }

    .nav-link {
        width: fit-content;
        padding: 10px;
        color: black;
        background-color: blue;
        border-radius: 20px;
        margin: 20px;
    }

}