* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 5px 4px rgba(137, 118, 232, 0.75);
    -webkit-box-shadow: 10px 10px 5px 4px rgba(137, 118, 232, 0.75);
    -moz-box-shadow: 10px 10px 5px 4px rgba(137, 118, 232, 0.75);
}

.navigation:hover {
    box-shadow: 10px 10px 5px 4px rgba(116, 215, 252, 0.75);
    -webkit-box-shadow: 10px 10px 5px 4px rgba(116, 215, 252, 0.75);
    -moz-box-shadow: 10px 10px 5px 4px rgba(116, 215, 252, 0.75);
    transition: ease-in-out 0.3s;
}


.navigation.scroll {
    width: fit-content;
    margin: auto;
    padding: 20px;
}


header.scroll {
    display: none;

}

.primary-navigation.scroll {
    transition: ease-in-out 0.3s;
    margin-right: 0;

}

.nav-link {
    color: rgb(137, 118, 232);
    font-weight: bolder;
    text-decoration: none;
    font-size: large;
    text-transform: uppercase;
}

.nav-link:hover {
    font-size: larger;
    transition: ease-in-out 0.3s;
    color: rgba(116, 215, 252, 0.75);
}


.hero-banner {
    background: url(/images/hero-banner-v2.jpeg);
}

.hero-banner-browse {
    background: url(/images/hero-banner-browse.jpg);
    text-transform: capitalize;
}

.hero-banner,
.hero-banner-browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 30px;
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: cover;
}



.hero-banner-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}


.button {
    display: block;
    text-decoration: none;
    background: linear-gradient(to bottom, #4e89ae, #2b5876);
    transition: background 0.3s ease-in-out;
    width: 200px;
    padding: 20px;
    border-radius: 5px;

}

.button:hover {
    background: linear-gradient(to bottom, #2b5876, #4e89ae);
}


.button-text {
    color: white;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;

}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.logo {
    max-width: 50px;
}

.primary-navigation,
.main-header {
    display: flex;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
}

.main-header {
    margin-left: 100px;
    gap: 30px;
}

.primary-navigation {
    gap: 20px;
    list-style-type: none;
}



.header-text {
    color: rgb(137, 118, 232);
    text-transform: uppercase;
    font-size: large;

}

.sub-title {
    vertical-align: top;
}


.div-text {
    font-size: large;
}

.my-text {
    color: darkblue;
    font-weight: 600;
    cursor: pointer;
}


.javascript-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}


.bathtub-section {
    background-color: #f1f1f1;
}


.bathtub-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 20px;
}

.bathtub-section-image {
    width: min(100% - 40px, 900px);
    border-radius: 5px;
}

.shop-bathtub-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 30px;

}



.line {
    display: block;
    border-bottom: 1px solid black;
    height: 1px;
}


footer {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}


.footer-navigation {
    list-style: none;
    display: flex;
    gap: 50px;
}

ul li:last-child {
    margin-right: 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}


.services-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.services-title {
    font-weight: 200;
    font-size: 32px;
}

.services-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.services-paragraph {
    color: darkgrey;
}

.services-image {
    max-width: 100px;
    aspect-ratio: 1;
}

.services-containers {
    display: flex;
    justify-content: space-evenly;
    width: auto;
}

.horizontal-line {
    border: 1px solid lightgray;
    width: 80%;
    opacity: 0.3;
}

.horizontal-line-services {
    display: none;
}

.vertical-line {
    border: 1px solid lightgray;
    max-height: fit-content;
    opacity: 0.3;

}

.containers {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    max-width: 20%;
    gap: 10px;
    text-align: center;

}


.shop-title {
    font-size: 30px;
    font-weight: 200;
}


/* Nav menu button */

.nav-menu {
    display: none;

}

.browse-parent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.browse-text {
    display: flex;
    justify-content: center;
}

.browse-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

}

.browse-container {
    background-color: #4e89ae;
    max-width: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.browse-image {
    border-radius: 5px;
    width: min(80% - 40px, 700px);
}





@media (max-width:769px) {
    .nav-menu {
        display: flex;
        justify-content: right;
        position: sticky;
        top: 0;
        background-color: white;
    }


    /* Nav menu button */
    nav {
        transform: translateX(100%);
        opacity: 0;
        transition: 300ms;
        position: fixed;
        top: 0;
        right: 0;
        width: 260px;
        height: 100vh;
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .nav-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }

    .nav-item {
        display: flex;
    }

    .nav-item a {
        width: 100%;
        padding: 12px;
        text-decoration: none;
    }

    .nav-item span {
        font-family: sans-serif;
        color: #575757;
    }

    .nav-item:hover {
        background-color: #ededed;
    }

    /* Nav menu button */
    #toggle {
        display: none;
    }

    .toggle-container {
        position: relative;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
        z-index: 1;
        box-shadow: 0 0 0 0 rgb(255 255 255);
        border-radius: 100%;
        transition: transform 300ms, box-shadow 1000ms;
    }

    .toggle-container .line {
        width: 32px;
        height: 3px;
        background-color: #373737;
        display: block;
        margin: 3px 0;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #toggle:checked~.toggle-container .line:nth-child(1) {
        -webkit-transform: translateY(5px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
    }

    #toggle:checked~.toggle-container .line:nth-child(3) {
        opacity: 0;
    }

    #toggle:checked~.toggle-container .line:nth-child(2) {
        -webkit-transform: translateY(-5px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-4px) rotate(-45deg);
        width: 32px;
    }

    #toggle:checked~nav {
        transform: translateX(0);
        opacity: 1;
    }

    #toggle:checked~.toggle-container .header-button-icon {
        transform: rotate(180deg);
    }


    .navigation {
        display: none;
    }

    .bathtub-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }


    .horizontal-line-services {
        display: flex;
        border: 1px solid lightgray;
        width: 45%;
        opacity: 0.3;
    }

    .services-containers {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .containers {
        max-width: 50%;
    }

    .shop-bathtub-items {
        max-width: 90%;
        text-align: center;
    }


    .vertical-line {
        display: none;
    }


}

@media (min-width: 770px) and (max-width: 1100px) {

    .nav-menu {
        display: flex;
        justify-content: right;
        position: sticky;
        top: 0;
        background-color: white;
    }


    /* Nav menu button */
    .toggle-container {
        position: relative;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
        z-index: 1;
        box-shadow: 0 0 0 0 rgb(255 255 255);
        border-radius: 100%;
        transition: transform 300ms, box-shadow 1000ms;

    }

    #toggle {
        display: none;
    }

    .toggle-container .line {
        width: 32px;
        height: 3px;
        background-color: #373737;
        display: block;
        margin: 3px 0;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #toggle:checked~.toggle-container .line:nth-child(1) {
        -webkit-transform: translateY(5px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
    }

    #toggle:checked~.toggle-container .line:nth-child(3) {
        opacity: 0;
    }

    #toggle:checked~.toggle-container .line:nth-child(2) {
        -webkit-transform: translateY(-5px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-4px) rotate(-45deg);
        width: 32px;
    }

    #toggle:checked~nav {
        transform: translateX(0);
        opacity: 1;
    }

    #toggle:checked~.toggle-container .header-button-icon {
        transform: rotate(180deg);
    }

    nav {
        transform: translateX(100%);
        opacity: 0;
        transition: 300ms;
        position: fixed;
        top: 0;
        right: 0;
        width: 260px;
        height: 100vh;
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .nav-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }

    .nav-item {
        display: flex;
    }

    .nav-item a {
        width: 100%;
        padding: 12px;
        text-decoration: none;
    }

    .nav-item span {
        font-family: sans-serif;
        color: #575757;
    }

    .nav-item:hover {
        background-color: #ededed;
    }


    .navigation {
        display: none;
    }

    .bathtub-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }








}