.uglytub {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.bathtub {
    max-width: 400px;
}




/* använd idn i html för tex buy a bathtub */




.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
}